
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

p, a, h1 {
    font-family: 'Source Code Pro', monospace;
}

body{ 
    background-image: url(../image/background3.jpg);
    height: auto;
    width: 100%;
}

.page {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.accroche {
    font-size: 10px;
}
.topheader {
    float: right;
}

.topheader p {
    margin-right: 5px 15px 5px 0;
}

header {
    background-image: url(../image/background4.jpg);
    height:130px;
    width: 100%;
    float: left;
}

header img{
    float: left;
    margin: 15px 0 0 15px;
}

nav {
    float: right;
    margin: 40px 15px 0 0;
}

a {
    color: black;
    text-decoration: none;   
}

nav li{
        display: inline; 
        margin: 15px;     
}
    
nav a {
    color:white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    display:inline-block;
}

a:hover{
    transition-duration: 1s;
    color:grey;

}

.current a{
    color: grey;
}

#PROJECTEUR {
   height: 350px;
   width: 100%;
   margin: 190px auto 0px auto;
   background-image: url(../image/illustration2.jpg) ;
   background-size: cover;
   margin-bottom: -8px;
   box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.219);
}

aside{
    width: 50%;
    max-width: 500px;
    float: left;
    max-height: 353px;
}

aside img {
    width: 100%;
    border: 10px solid white;
    padding: -10px;
}

article {
    width: 50%;
    background-color: white;
    height: auto;
    float: left;
    max-height: 353px;
}
article h1 {
    margin: 5px 15px 0 15px;
}
article p {    
    margin: 15px;
}

article span{
    font-weight: bold;
}
.video{
    width:100%;
    max-width: 985px;
    background-color: white;
    padding-left: 15px;
    padding-bottom: 15px;
    float: left;
}
.video iframe{
    float: left;
    padding-right:15px;
}

.partenaires {
    width: 100%;
    background-color: white;
    float: left;
    text-align: center;
}
.partenaires h1{
    margin: 15px;
}
.partenaires img{
    float: left;
    padding: 15px;
    text-align: center;
    margin:34px;
    -webkit-filter: grayscale(100%);
}
.partenaires img:hover{
    -webkit-filter: grayscale(0%);
    transition-duration: 1s;
}
.imgpart{
    height: 230px;
    width: 1000px;
    margin: 0 auto;
}

hr {color: black;}

footer {
    width: 100%;
    height: auto;
    float: left;
    background-image:linear-gradient(to right, rgba(0,0,0,0.24) 0%, rgba(71,71,71,0.24) 0%, rgba(102,102,102,0.24) 0%, rgba(71,71,71,0.24) 0%, rgba(89,89,89,0.24) 0%, rgba(57,57,57,1) 17%, rgba(0,0,0,1) 48%, rgba(13,13,13,1) 83%, rgba(19,19,19,0) 100%);
    color: white;
    padding-bottom: 60px;
}

.contenufoot{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.gmap {
    width: 440px;
    float: left;
    padding: 10px;
}

footer h1 {
    padding-left: 15px;
    font-weight: normal;
}
.newsletter {
    width: 200px;
    float: left;
}

.contact {
    width: 241px;
    float: left;
    padding-left: 65px;
}

.contact ul{
    list-style: none;
    padding: 0px;
}

.contact ul a, .contact a {
    text-decoration: none;
    color:white;  
}

.contact ul a:hover, .contact a:hover {
    color:white;
}

.newsletter fieldset {
    border-radius: 8px;
    border: 2px solid white;
    color: white;
    height: 180px;
}

.newsletter input {
    width: 86,5%;
    height: 25px;
    margin-bottom: 5px;
    padding: 5px 10px;
}

.newsletter input[type=submit]{
    width: 100%;
    height: 35px;
    border:0px;
    background: rgb(209, 208, 208);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.contact ul i{
    margin-right: 5px;
}
