@import url('./reset.css');
body {
    font-family: Arial, Helvetica, sans-serif;
}

header, footer{
    background-color: #222222;
    height: 100px;
    width: 100%;
    text-align: center;
}

header li{
    display: inline-block;
    padding:45px 25px 0 25px; 
    
}

header li a, footer{
    text-decoration: none;
    color: white;
}

footer{
    bottom:0px;
}
footer p {
    padding-top : 45px;
}

.container{
    height: 600px;
    background-color: #EEEEEE;
    display: block;
    text-align: center;
    padding-top: 100px;
}